
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


#nav-bar {
  padding-left: 2em;
  height: 80px;
  margin: 0;
  color: #244751;
  background-color: #00a087;

}
#nav-bar .logo {
  padding-right: 10px;
  width: 90px;
  height: 80px;
}

#nav-bar .header {
  color: #e8fdff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  font-size: 45px;
  position: relative;
  bottom: 35%;

}

#body{
  background-color: #E8E8E8;
}


#nav-bar .compose {
  float:right;
  margin: 5px 20px 10px 5px;
  background: white;
  opacity:0.7;
  border: solid;
  border-width: .5px;
  border-radius: 8px;
  padding: 10px 25px 10px 10px;
  font-size: 20px;

}
#nav-bar .compose:hover {
  float:right;
  margin: 5px 20px 10px 5px;
  background: grey;
  opacity:0.7;
  border: solid;
  border-width: 1.5px;
  border-radius: 10px;
  padding: 10px 25px 10px 10px;
  font-size: 20px;

}


